.recom_member_card1{
    width: 170px;
    height: 150px;
    margin-left: 5%;
    background-color: rgba( 211, 211, 211, 0.8 );
    display: grid;
    grid-template-rows: 20% 45% 15% 20%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */
}
.recom_member_intro1{
    text-align: right;
    margin-right: 2%;
}
.recom_user_profile_img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.recom_member_intro2{
    margin-top:12%;
    font-size: 0.7rem;
}
.recom_hia{
    display: grid;
    grid-template-columns: 15% 15% 15%;
  }
  
  .recom_tag{
    margin-top:12%;
    font-size: 0.7rem;
  }