.page1{
    background-image:  url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-block-end: 0px; 
 
}
.jumbo{
    background: transparent;
}

.login{

    vertical-align: middle;
    display: inline-block;
    width: 500px;
    margin-right: 200px;
    background-color:#ff0000; 
}
.loginform{
    padding: 10px;
}

.main{
    text-align: right;
    display: inline-block;
    vertical-align: middle;

}
.lead1{
    font-size: 50px;
    text-align: right;
    color: white;
}
.lead2{
   
    text-align: right;
    color: white;
}

.aboutustitle{
    color: white;
    font-size: 50px;
}
.aboutuscontent{
    color: white;
    font-size: 30px;
}
.page3{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('./cardbackground.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.display-3{
    text-align: left;
    color: antiquewhite;
}
.lead3{
    text-align: left;
    color: wheat
    
}
.aboutustitle2{
    color: black;
    font-size: 50px;
    text-align: center;
}
.aboutuscontent2{
    color: black;
    font-size: 30px;
    text-align: center;
}
