.projectfeed_container{
    display: grid;
    grid-template-columns: 65% 35%;    
  }
  .projectfeed_intro1{
    margin-left: 10%;
    font-size: 3rem;
    font-weight: bold;
  }
  .projectfeed_recomprojects{
    margin-top: 20%;
  }
 
  .projectfeed_recomprojects_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 18%;
  }
  