.projectfeed_container{
    display: grid;
    grid-template-columns: 65% 35%;    

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .projectfeed_intro1{
    margin-left: 10%;
    font-size: 3rem;
    font-weight: bold;
  }
  .projectfeed_recomprojects{
    margin-top: 20%;
  }
 
  .projectfeed_recomprojects_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 18%;
  }
  