.memberfeed_container{
    display: grid;
    grid-template-columns: 70% 30%;  
    
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .memberfeed_intro1{
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
    margin-left: 6%;
  }
  .member_container{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 45% 45%; 
   }

  .memberfeed_recommembers{
    margin-top: 20%;
  }
 
  .memberfeed_recommembers_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15%;
    color: white;
  }