.memberfeed_container{
    display: grid;
    grid-template-columns: 65% 35%;    
  }
  .memberfeed_intro1{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .memberfeed_recommembers{
    margin-top: 20%;
  }
 
  .memberfeed_recommembers_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 18%;
  }
  .member_container{
    display: grid;
    grid-template-columns: 50% 50%; 
   }
  