.loginbackground{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loginform{
    background-color:whitesmoke; 
    margin-right: 20%;
    margin-left: 20%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}
.logintitle{
    text-align: center;
}