
.signupform{
    background-color:white; 
    margin-right: 20%;
    margin-left: 20%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}
.signuptitle_detail{
    text-align: center;
    
}
.signup_title{
    font-size: 2rem;
}

.submit_btn{
    border-color: blueviolet;
    background-color: white;
    color: blueviolet
}