.comment_prop{
    display: grid;
    grid-template-columns: 80% 20%;
}
.comments_intro1{
    margin-left: 8%;
    font-weight: bold;
    font-size: 1.1rem;
}
.comments_count{
    font-weight: bold;
    font-size: 0.9rem;
}
.comment_input{
    margin-left:10%; 
}
comment_btn{
    text-align: left;
}
.btn{
    color:white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1%;
    
    background-color: gray;
  
}