.auth_action{
    align-content: center !important;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.auth{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}