.projectTitle {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.container2 {
    width: 60%;
    vertical-align:middle;
    padding: 7px;
    height: 90%;
    margin: 0 auto;
}
.row {
    margin-top: 10px;
    text-align: center;
    vertical-align:middle;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio-item {
    margin-bottom: 30px;
}
.complete {
    vertical-align:middle;
    padding: 8px;
    background-color: aliceblue;
    vertical-align:middle;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.project {
    margin-left: 5px;
    margin-top: 6px;
}
.projectFont {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
